<section class="vh-100 gradient-custom height">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              @if(isCreatingAccountRoute){
              <h2 class="fw-bold mb-2 text-uppercase">Criar Conta</h2>
              <p class="text-white-50 mb-5">Entre com um email e uma senha</p>
              }@else {
              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Entre com o seu email e sua senha</p>
              }

              <form [formGroup]="loginForm">
                <div data-mdb-input-init class="form-outline form-white mb-4">
                  <input type="email" id="typeEmailX" class="form-control form-control-lg" formControlName="email" />
                  <label class="form-label" for="typeEmailX">Email</label>
                  @if(loginForm.get('email')?.errors && loginForm.get('email')?.touched){
                  <p class="text-danger">
                    O email é obrigatório e deve estar no formato example&#64;email.com
                  </p>
                  }
                </div>

                <div data-mdb-input-init class="form-outline form-white mb-4">
                  <input type="password" id="typePasswordX" class="form-control form-control-lg" formControlName="password" />
                  <label class="form-label" for="typePasswordX">Senha</label>
                  @if(loginForm.get('password')?.errors && loginForm.get('password')?.touched){
                  <p class="text-danger">
                    A senha é obrigatória e deve conter no minimo 6 caracteres
                  </p>
                  }
                </div>

                @if(isCreatingAccountRoute){
                <div data-mdb-input-init class="form-outline form-white mb-4">
                  <input type="password" id="confirmPassword" class="form-control form-control-lg" formControlName="confirmPassword" (blur)="verifyPasswords()" />
                  <label class="form-label" for="typePasswordX">Confirmação de senha</label>
                  @if(loginForm.get('confirmPassword')?.errors?.['passwordConfirmIsNotTheSame'] && loginForm.get('password')?.touched){
                  <p class="text-danger">
                    As senha são diferentes
                  </p>
                  }

                </div>
                }

                @if(isCreatingAccountRoute){
                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit" [disabled]="!loginForm.valid" (click)="handleCreate($event)">CRIAR CONTA</button>
                }@else {
                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit" [disabled]="!loginForm.valid" (click)="handleLogin($event)">Login</button>
                }

              </form>

            </div>

            <div>
              @if(!isCreatingAccountRoute){
              <p class="mb-0">Não tem uma conta? <a routerLink="create" class="text-white-50 fw-bold">Criar Conta</a>
              </p>
              }
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>