/* You can add global styles to this file, and also import other style files */
* {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
